#carte {
    background-color: #fff;
    height: calc(100vh - 40px);
    border: 1px solid var(--primary) ;
    outline: 2px solid var(--primary) ;
    outline-offset: 10px;
    margin: auto 10px auto 10px
}

#pagination-header {
    visibility: hidden;
}
