#mini-map-container {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
    aspect-ratio: 767/947;
    height: 30vw;
    max-height: 230px;
    background-image: url("../../images/globe.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#mini-map {
    position: absolute;
    width: 23vw;
    max-height: 175px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.6);
    top: 41%;
    left: 48%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

#mini-map-container.expanded {
    width: 60%;
    max-width: 400px;
}

#mini-map-container.expanded #mini-map {
    width: 60%; /* ajusté automatiquement via transform */
}

#toggle-map-size {
    position: absolute;
    display: none;
    top: 5px;
    left: 5px;
    background-color: transparent;
    border: none;
    width: 25px;
    height: 25px;
    cursor: pointer;
    z-index: 3;
}
